

/* LEFT MENU :*/
*, html {
    outline: 0 !important;
    -webkit-user-select: none !important;  /* Chrome all / Safari all */
    -webkit-touch-callout: none !important;
    -moz-user-select: text !important;
    -ms-user-select: none !important;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none !important;
    user-select: none !important;        
}

.adminContainer {
    padding:0;
}
@media (min-width: 768px) {
  .adminContainer {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .adminContainer {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .adminContainer {
    width: 100%;
  }
}

html,body {
    font-family: 'Open Sans', sans-serif;
}

.admin_login_layout {
    background:url('../../img/backend/login_background.png') repeat;
    background-size:cover;
}

.leftContainer {
    width:200px;
    float:left;
    display:none;
}

.leftContainer .leftMenu {
    background:#4b565c;
    border:none;
    border-radius:0;
}

.leftContainer .leftMenu .navbar-collapse {
    padding-left:20px;
}
.leftContainer .leftMenu .navbar-nav {
    margin:0;
    padding:0;
}
.leftContainer .leftMenu .navbar-nav li {
    padding-left:0;
    text-align:left;
    padding-bottom:20px;
}
.leftContainer .leftMenu .navbar-nav img {
    width:22px;
    height:22px;
    float:left;
    display:block;
    margin-right:23px;
}

.leftContainer .leftMenu .navbar-nav span {
    color: #ffffff;
    display: block;
    float: left;
    font-size: 15px;
    line-height: 19px;
    width: 88px;
}

.topContainer {
    width:100%;
    float:left;
    height:50px;
}

.topContainer .leftTaloc {
    background: none repeat scroll 0 0 #2e3639;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 150px;
    cursor:pointer;
}

.topContainer .leftMenuButton {
    background:#4a555b;
    height:50px;
    width:50px;
    line-height: 50px;
    text-align: center;
    float:left;
    cursor:pointer;
}

.centerTopText {
    height:50px;
    line-height:50px;
    background:#FFFFFF;
    float:left;
}

.centerTopText h1 {
    font-size:14px;
    color:#4a555b;
    padding:0 25px;
}

.topRight {
    float:right;
    height:50px;
    line-height:50px;
    width:100px;
    background:#FFFFFF;
}

.topRight .userSettings {
    float:left;
    cursor:pointer;
    width:50px;
    text-align:center;
    border-left:1px solid #e4eaec;
}

.topRight .turnOff {
    float:right;
    cursor:pointer;
    width:50px;
    border-left:1px solid #e4eaec;
    margin:0 auto;
    text-align:center;
}

.loginContainer {
    width:400px;
    height:340px;
    margin:0 auto;
    background:#FFFFFF;
    border-radius:5px;
    top:0;
    padding:35px;
    bottom:0;
    display: block;
    position:relative;
}

.btn-login {
    width:100%;
    height:45px;
    line-height:45px;
    background:#32b5ff;
    color:#FFFFFF;
    text-align:center;
    padding:0;
    margin:0 auto;
    text-transform:uppercase;
    font-weight:600;
    font-family:Open Sans;
    display:block;
    margin-left: auto;
    margin-right: auto; 
    margin-top:75px;
}

.btn-login:hover {
    color:#FFFFFF;
    background:#2ab1fe;
}

.loginOuterContainer {
    display: table;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.loginInnerContainer {
    display: table-cell;
    vertical-align: middle;
}

.talocLogin {
    position:absolute;
    left:-32px;
    top:30px;
}

.talocLoginDesc {
    float:right;
    color:#999999;
    font-size:16px;
}

.login_form {
    margin-top:52px;
}

#form_admin_save_me {
    width:20px;float:left;
}

.login_form .input-form {
    margin-bottom:20px;
}

.login_form .save_me {
    color:#999999;
    font-size:14px;
    font-weight:300;
    float:left;
    padding:10px 0 0 10px;
}

.form_errors {
    font-size:10px;
    color:red;
    position:absolute;
    line-height: 11px;
    margin-top: -16px;
}


.form_errors ul {
    list-style: none;
}